<h1><%= @company.name %></h1>
<p>Building:</p>
<ol>
    <% @company.buildings.each do |building| %>
        <li><%= building.name %></li>
    <% end %>
</ol>

<p>Number of offices: <%= @company.offices.count %></p>

